.link {
    color: #fe9343;
    text-decoration: none;
}
.link--bold {
    font-weight: 700;
}
.link--inactive {
    color: #ffecd9 !important;
}
.link svg {
    height: 1rem;
    vertical-align: middle;
}
.link:visited {
    color: #fe9343;
}
.link:hover {
    color: #ff7c37;
}
.link:active {
    color: #ff6f2f;
}
.caret-link {
    display: flex;
    align-items: center;
    margin-top: 1rem;
}
.caret-link svg {
    width: 1.25rem;
    height: 1.25rem;
    transform: scaleX(-1);
    margin-right: 0.25rem;
}
.caret-link a {
    color: #fe9343;
    text-decoration: none;
}
.caret-link a svg {
    height: 1rem;
    vertical-align: middle;
}
.caret-link a:visited {
    color: #fe9343;
}
.caret-link a:hover {
    color: #ff7c37;
}
.caret-link a:active {
    color: #ff6f2f;
}
html {
    font-family: Roboto, sans-serif;
    font-size: 0.875rem;
    font-weight: 400;
    color: #333;
    letter-spacing: 0.02em;
}
@media screen and (min-width: 430px) {
    html {
        font-size: 1rem;
    }
}
@media screen and (min-width: 1920px) {
    html {
        font-size: 1.125rem;
    }
}
.h1,
h1 {
    font-family: Montserrat, sans-serif;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1.3;
    color: #333;
}
@media screen and (min-width: 430px) {
    .h1,
    h1 {
        font-size: 1.75rem;
    }
}
@media screen and (min-width: 1920px) {
    .h1,
    h1 {
        font-size: 2.25rem;
    }
}
.h2,
h2 {
    font-family: Montserrat, sans-serif;
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 1.3;
    color: #333;
}
@media screen and (min-width: 430px) {
    .h2,
    h2 {
        font-size: 1.375rem;
    }
}
@media screen and (min-width: 1920px) {
    .h2,
    h2 {
        font-size: 1.875rem;
    }
}
.h3,
h3 {
    font-family: Montserrat, sans-serif;
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.3;
    color: #333;
}
@media screen and (min-width: 430px) {
    .h3,
    h3 {
        font-size: 1.125rem;
    }
}
@media screen and (min-width: 1920px) {
    .h3,
    h3 {
        font-size: 1.5rem;
    }
}
.h4,
h4 {
    font-family: Roboto, sans-serif;
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.5;
    color: #333;
}
@media screen and (min-width: 430px) {
    .h4,
    h4 {
        font-size: 1.125rem;
    }
}
@media screen and (min-width: 1920px) {
    .h4,
    h4 {
        font-size: 1.3125rem;
    }
}
.small,
small {
    font-family: Roboto, sans-serif;
    font-size: 0.75rem;
    line-height: 1.5;
}
@media screen and (min-width: 430px) {
    .small,
    small {
        font-size: 0.875rem;
    }
}
@media screen and (min-width: 1920px) {
    .small,
    small {
        font-size: 1rem;
    }
}
.tiny {
    font-family: Roboto, sans-serif;
    font-size: 0.625rem;
    line-height: 1.5;
}
@media screen and (min-width: 430px) {
    .tiny {
        font-size: 0.75rem;
    }
}
@media screen and (min-width: 1920px) {
    .tiny {
        font-size: 0.875rem;
    }
}
.button {
    height: 2.5rem;
    padding: 0.5rem 0.7rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    display: inline-block;
    min-width: 4rem;
    font-weight: 700;
    text-align: center;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    text-overflow: ellipsis;
    white-space: nowrap;
    border: 2px solid transparent;
    border-radius: 2px;
    cursor: pointer;
    position: relative;
}
.button__icon {
    height: 1.25rem;
    width: 1.25rem;
    max-height: 1.25rem;
    max-width: 1.25rem;
}
.button--small {
    height: 2rem;
    padding: 0.375rem 0.5rem;
    font-size: 0.75rem;
    line-height: 1rem;
}
.button--small .button__icon {
    height: 1rem;
    width: 1rem;
    max-height: 1rem;
    max-width: 1rem;
}
.button--large {
    height: 3rem;
    padding: 0.625em 1rem;
    font-size: 1rem;
    line-height: 1.5rem;
}
.button--large .button__icon {
    height: 1.5rem;
    width: 1.5rem;
    max-height: 1.5rem;
    max-width: 1.5rem;
}
.button:focus {
    outline: none;
}
.button__icon {
    margin-right: 0.5rem;
    vertical-align: bottom;
}
.button--inactive,
.button:disabled {
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.button--progress {
    pointer-events: none;
}
@keyframes button-progress-anim {
    0% {
        width: 0;
    }
    to {
        width: 95%;
    }
}
.button--progress:after {
    position: absolute;
    left: 2px;
    top: 2px;
    bottom: 2px;
    width: 0;
    content: '';
    animation: button-progress-anim 2s cubic-bezier(0.165, 0.84, 0.44, 1);
    animation-fill-mode: forwards;
}
.button--main {
    color: #fff;
    background-color: #fe9343;
}
.button--main:hover {
    background-color: #ff7c37;
}
.button--main:active {
    background-color: #ff6f2f;
}
.button--main:after {
    background-color: #ff7c37;
}
.button--main.button--inactive,
.button--main.button:disabled {
    background-color: #ffecd9;
}
.button--main--progress:hover {
    background-color: #fe9343;
}
.button--error {
    color: #fff;
    background-color: #de4065;
}
.button--error:hover {
    background-color: #cc395b;
}
.button--error:active {
    background-color: #b8304f;
}
.button--error:after {
    background-color: #cc395b;
}
.button--error.button--inactive,
.button--error.button:disabled {
    background-color: #f8d9e0;
}
.button--error--progress:hover {
    background-color: #de4065;
}
.button--facebook {
    color: #fff;
    background-color: #4267b2;
}
.button--facebook:hover {
    background-color: #3b5998;
}
.button--facebook:active {
    background-color: #29487d;
}
.button--facebook:after {
    background-color: #3b5998;
}
.button--facebook.button--inactive,
.button--facebook.button:disabled {
    background-color: #d7e6f4;
}
.button--facebook--progress:hover {
    background-color: #4267b2;
}
.checkbox {
    display: flex;
    cursor: pointer;
    font-size: 0.875rem;
}
.checkbox__input {
    display: none;
}
.checkbox__input:checked ~ .checkbox__checkmark {
    border-color: #fe9343;
}
.checkbox__input:checked ~ .checkbox__checkmark svg {
    display: inline-block;
}
.checkbox__checkmark {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    border: 1px solid #999;
    background-color: #fff;
    margin-right: 8px;
    border-radius: 2px;
}
.checkbox__checkmark svg {
    width: 12px;
    height: 12px;
    display: none;
    color: #fe9343;
}
.checkbox:hover .checkbox__checkmark {
    border-color: #ff7c37;
}
.textinput {
    position: relative;
    margin: 1.5rem 0;
}
.textinput--filled + label {
    top: -0.75rem !important;
}
.textinput--error .textinput__input {
    border: 1px solid #de4065 !important;
}
.textinput--error .textinput__input:focus,
.textinput--error .textinput__input:hover {
    border-color: #a82840 !important;
}
.textinput label {
    line-height: 1.5rem;
    padding: 0 4px;
    margin: 0 8px;
    position: absolute;
    top: 0.5rem;
    left: 0;
    transition: top 0.2s linear;
    z-index: 2;
    color: #666;
    cursor: text;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: calc(100% - 1.2rem);
    overflow: hidden;
    pointer-events: none;
}
.textinput label:before {
    content: ' ';
    background-color: #fff;
    position: absolute;
    left: 1px;
    width: 100%;
    height: 50%;
    z-index: -1;
    top: 46%;
}
.textinput__input {
    width: 100%;
    height: 2.5rem;
    border: 1px solid #999;
    border-radius: 2px;
    padding: 0 12px;
    outline: 0;
    font-size: 1rem;
}
.textinput__input:focus,
.textinput__input:hover {
    border-color: #fe9343;
}
.textinput__input:focus + label {
    top: -0.75rem;
}
#captcha-container {
    max-width: calc(100vw - 3rem);
    overflow: hidden;
}
@media screen and (min-width: 429px) {
    #captcha-container {
        max-width: calc(100vw - 6rem);
    }
}
.captcha-placeholder {
    width: 304px;
}
.g-recaptcha {
    transform-origin: left top;
}
.password__show-password {
    display: flex;
    align-items: center;
    position: absolute;
    right: 0;
    height: 1.5rem;
    top: -1.6rem;
    font-size: 0.875rem;
    color: #666;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.password__show-password--active {
    color: #fe9343;
}
.password__show-password svg {
    width: 1.5rem;
    height: 1.5rem;
    margin-right: 0.25rem;
}
.strike {
    display: block;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    margin: 1.5rem 0;
    font-size: 0.875rem;
}
.strike > span {
    position: relative;
    display: inline-block;
}
.strike > span:after,
.strike > span:before {
    content: '';
    position: absolute;
    top: 50%;
    width: 9999px;
    height: 1px;
    background: #d5d5d5;
}
.strike > span:before {
    right: 100%;
    margin-right: 10px;
}
.strike > span:after {
    left: 100%;
    margin-left: 10px;
}
.login {
    background-color: #fff;
    max-width: 32rem;
    min-height: 16rem;
    margin: 0 auto;
    padding: 1.5rem;
}
@media screen and (min-width: 429px) {
    .login {
        padding: 2.75rem 3rem;
    }
}
.login h1 {
    margin: 0 0 0.625rem;
}
.login__username {
    margin: 0 0 1.5rem;
}
.login__password {
    position: relative;
    margin: 2.5rem 0 0;
}
.login__password-spacer {
    margin: 0 0 1.5rem;
}
.login__show-password {
    display: flex;
    align-items: center;
    position: absolute;
    right: 0;
    height: 1.5rem;
    top: -1.6rem;
    font-size: 0.875rem;
    color: #666;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.login__show-password--active {
    color: #fe9343;
}
.login__show-password svg {
    width: 1.5rem;
    height: 1.5rem;
    margin-right: 0.25rem;
}
.login__registration-link-subline {
    margin: 1.5rem 0 0;
}
.login__subline {
    margin: 1.5rem 0;
}
.login__titel {
    margin: 0 0 1.5rem;
}
.login__registration-link-space {
    margin: 0 1rem 0 0;
}
.login__registration-link-second-subline {
    margin: 1rem 0;
}
.login__error {
    color: #de4065;
    font-size: 0.875rem;
    font-weight: 700;
    margin-top: 0.5rem;
    padding: 0 0.75rem;
}
.login__rememberMe {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: 1.5rem 0;
}
.login__rememberMe a,
.login__rememberMe label {
    width: 100%;
}
@media screen and (min-width: 429px) {
    .login__rememberMe a,
    .login__rememberMe label {
        width: 50%;
    }
}
.login__rememberMe a {
    text-align: right;
    font-size: 0.875rem;
    margin-top: 1rem;
}
@media screen and (min-width: 429px) {
    .login__rememberMe a {
        margin-top: 0;
    }
}
.login__forgotPasswordLink {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: 1.5rem 0;
}
.login__forgotPasswordLink a {
    font-size: 0.875rem;
    margin-top: 1rem;
    width: 100%;
}
@media screen and (min-width: 429px) {
    .login__forgotPasswordLink a {
        margin-top: 0;
        width: 50%;
    }
}
.login__cta {
    width: 100%;
}
.login__recaptcha {
    margin: 1.5rem 0;
    width: 100%;
}
.login-wizard {
    background-color: #fff;
    max-width: 32rem;
    min-height: 16rem;
    margin: 0 auto;
    padding: 1.5rem;
}
@media screen and (min-width: 429px) {
    .login-wizard {
        padding: 2.75rem 3rem;
    }
}
.login-wizard h1 {
    margin: 0 0 0.625rem;
}
.login-wizard__username {
    margin: 0;
}
.login-wizard__show-password {
    display: flex;
    align-items: center;
    position: absolute;
    right: 0;
    height: 1.5rem;
    top: -1.6rem;
    font-size: 0.875rem;
    color: #666;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.login-wizard__show-password--active {
    color: #fe9343;
}
.login-wizard__show-password svg {
    width: 1.5rem;
    height: 1.5rem;
    margin-right: 0.25rem;
}
.login-wizard__subline {
    margin: 1.5rem 0;
}
.login-wizard__error {
    color: #de4065;
    font-size: 0.875rem;
    font-weight: 700;
    margin-top: 0.5rem;
    padding: 0 0.75rem;
}
.login-wizard__cta,
.login-wizard__recaptcha {
    width: 100%;
    margin: 1.5rem 0 0;
}
.login-wizard-platform {
    background-color: #fff;
    max-width: 32rem;
    min-height: 16rem;
    margin: 0 auto;
    padding: 1.5rem;
}
@media screen and (min-width: 429px) {
    .login-wizard-platform {
        padding: 2.75rem 3rem;
    }
}
.login-wizard-platform h1 {
    margin: 0 0 0.625rem;
}
.login-wizard-platform__chooser,
.login-wizard-platform__subline {
    margin: 1.5rem 0;
}
.login-wizard-platform__cta {
    width: 100%;
    margin: 0 0 1.5rem;
}
.login-wizard-password {
    background-color: #fff;
    max-width: 32rem;
    min-height: 16rem;
    margin: 0 auto;
    padding: 1.5rem;
}
@media screen and (min-width: 429px) {
    .login-wizard-password {
        padding: 2.75rem 3rem;
    }
}
.login-wizard-password h1 {
    margin: 0 0 0.625rem;
}
.login-wizard-password__subline {
    margin: 1.5rem 0;
}
.login-wizard-password__password {
    position: relative;
    margin: 2.5rem 0 0;
}
.login-wizard-password__show-password {
    display: flex;
    align-items: center;
    position: absolute;
    right: 0;
    height: 1.5rem;
    top: -1.6rem;
    font-size: 0.875rem;
    color: #666;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.login-wizard-password__show-password--active {
    color: #fe9343;
}
.login-wizard-password__show-password svg {
    width: 1.5rem;
    height: 1.5rem;
    margin-right: 0.25rem;
}
.login-wizard-password__error {
    color: #de4065;
    font-size: 0.875rem;
    font-weight: 700;
    margin-top: 0.5rem;
    padding: 0 0.75rem;
}
.login-wizard-password__password-spacer {
    margin: 0 0 1.5rem;
}
.login-wizard-password__rememberMe {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: 1.5rem 0;
}
.login-wizard-password__rememberMe a,
.login-wizard-password__rememberMe label {
    width: 100%;
}
@media screen and (min-width: 429px) {
    .login-wizard-password__rememberMe a,
    .login-wizard-password__rememberMe label {
        width: 50%;
    }
}
.login-wizard-password__rememberMe a {
    text-align: right;
    font-size: 0.875rem;
    margin-top: 1rem;
}
@media screen and (min-width: 429px) {
    .login-wizard-password__rememberMe a {
        margin-top: 0;
    }
}
.login-wizard-password__forgotPasswordLink {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: 1.5rem 0;
}
.login-wizard-password__forgotPasswordLink a {
    font-size: 0.875rem;
    margin-top: 1rem;
    width: 100%;
}
@media screen and (min-width: 429px) {
    .login-wizard-password__forgotPasswordLink a {
        margin-top: 0;
        width: 50%;
    }
}
.login-wizard-password__recaptcha {
    margin: 1.5rem 0;
    width: 100%;
}
.login-wizard-password__cta {
    width: 100%;
}
.register-customer {
    background-color: #fff;
    max-width: 32rem;
    min-height: 16rem;
    margin: 0 auto;
    padding: 1.5rem;
}
@media screen and (min-width: 429px) {
    .register-customer {
        padding: 2.75rem 3rem;
    }
}
.register-customer h1 {
    margin: 0 0 0.625rem;
}
.register-customer__email {
    margin: 1.5rem 0 0;
}
.register-customer__captcha,
.register-customer__cta {
    margin: 1.5rem 0 0;
    width: 100%;
}
.register-customer__fb-cta {
    width: 100%;
}
.register-customer__subline {
    margin: 1.5rem 0 0;
}
.register-customer__error {
    color: #de4065;
    font-size: 0.875rem;
    font-weight: 700;
    margin-top: 0.5rem;
    padding: 0 0.75rem;
}
.register-designer {
    background-color: #fff;
    max-width: 32rem;
    min-height: 16rem;
    margin: 0 auto;
    padding: 1.5rem;
}
@media screen and (min-width: 429px) {
    .register-designer {
        padding: 2.75rem 3rem;
    }
}
.register-designer h1 {
    margin: 0 0 0.625rem;
}
.register-designer__email {
    margin: 1.5rem 0 0;
    position: relative;
}
.register-designer__back-to-login-info {
    margin: 1.5rem 0 0;
}
.register-designer__repeat-password {
    margin-bottom: 0;
}
.register-designer__password {
    position: relative;
    margin: 2.5rem 0 0;
}
.register-designer__captcha,
.register-designer__cta {
    margin: 1.5rem 0 0;
    width: 100%;
}
.register-designer__error {
    color: #de4065;
    font-size: 0.875rem;
    font-weight: 700;
    margin-top: 0.5rem;
    padding: 0 0.75rem;
}
.register-shop-owner {
    background-color: #fff;
    max-width: 32rem;
    min-height: 16rem;
    margin: 0 auto;
    padding: 1.5rem;
}
@media screen and (min-width: 429px) {
    .register-shop-owner {
        padding: 2.75rem 3rem;
    }
}
.register-shop-owner h1 {
    margin: 0 0 0.625rem;
}
.register-shop-owner__back-to-login-info,
.register-shop-owner__email,
.register-shop-owner__shop-name {
    margin: 1.5rem 0 0;
}
.register-shop-owner__repeat-password {
    margin-bottom: 0;
}
.register-shop-owner__password {
    position: relative;
    margin: 2.5rem 0 0;
}
.register-shop-owner__captcha,
.register-shop-owner__cta {
    margin: 1.5rem 0 0;
    width: 100%;
}
.register-shop-owner__error {
    color: #de4065;
    font-size: 0.875rem;
    font-weight: 700;
    margin-top: 0.5rem;
    padding: 0 0.75rem;
}
.register-shop-owner__info {
    z-index: 3;
    position: absolute;
    right: 5px;
    top: 8px;
    background-color: transparent;
    color: #595959;
}
.register-shop-owner__info .popuptext {
    visibility: hidden;
    width: 24rem;
    background-color: #fff;
    color: #595959;
    text-align: center;
    border-radius: 6px;
    padding: 8px;
    position: absolute;
    z-index: 3;
    bottom: 125%;
    left: 50%;
    margin-left: -23rem;
    box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.2);
}
.register-shop-owner__info .popuptext:after {
    content: '';
    position: absolute;
    top: 95%;
    left: 94.8%;
    margin-top: -1px;
    border: 3px solid #fff;
    transform: rotate(45deg);
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.2);
    background-color: #fff;
}
.register-shop-owner__info .show {
    visibility: visible;
}
.register-shop-owner__info .icon-round {
    border: 1px solid #d9d9d9;
    border-radius: 100%;
    padding: 2px;
    background-color: #fff;
}
.register-shop-owner__info .pointer {
    cursor: pointer;
}
.register-shop-owner__info .icon {
    display: inline-block;
    fill: currentColor;
    height: 1.5em;
    width: 1.5em;
    vertical-align: middle;
    position: relative;
}
body {
    overflow: hidden;
}
.forgot-password {
    background-color: #fff;
    max-width: 32rem;
    min-height: 16rem;
    margin: 0 auto;
    padding: 1.5rem;
}
@media screen and (min-width: 429px) {
    .forgot-password {
        padding: 2.75rem 3rem;
    }
}
.forgot-password h1 {
    margin: 0 0 0.625rem;
}
.forgot-password__email {
    margin: 1.5rem 0 0;
}
.forgot-password__back-to-login {
    text-align: center;
    margin: 1.5rem 0 0;
}
.forgot-password__captcha {
    margin: 1.5rem 0 0;
    width: 100%;
}
.forgot-password__subline {
    margin: 1.5rem 0 0;
}
.forgot-password__cta {
    width: 100%;
    margin: 1.5rem 0 0;
}
.forgot-password__error {
    color: #de4065;
    font-size: 0.875rem;
    font-weight: 700;
    margin-top: 0.5rem;
    padding: 0 0.75rem;
}
.link-problem {
    background-color: #fff;
    max-width: 32rem;
    min-height: 16rem;
    margin: 0 auto;
    padding: 1.5rem;
}
@media screen and (min-width: 429px) {
    .link-problem {
        padding: 2.75rem 3rem;
    }
}
.link-problem h1 {
    margin: 0 0 0.625rem;
}
.link-problem__cta {
    margin-top: 1.5rem;
    width: 100%;
}
.link-problem__back-to-login {
    text-align: center;
    margin: 1.5rem 0 0;
}
.link-problem__subline {
    margin: 1.5rem 0 0;
}
.link-problem__error {
    color: #de4065;
    font-size: 0.875rem;
    font-weight: 700;
    margin-top: 0.5rem;
    padding: 0 0.75rem;
}
.set-password {
    background-color: #fff;
    max-width: 32rem;
    min-height: 16rem;
    margin: 0 auto;
    padding: 1.5rem;
}
@media screen and (min-width: 429px) {
    .set-password {
        padding: 2.75rem 3rem;
    }
}
.set-password h1 {
    margin: 0 0 0.625rem;
}
.set-password__cta {
    margin: 1.5rem 0 0;
    width: 100%;
}
.set-password__repeat-password {
    margin-bottom: 0;
}
.set-password__error {
    color: #de4065;
    font-size: 0.875rem;
    font-weight: 700;
    margin-top: 0.5rem;
    padding: 0 0.75rem;
}
.set-password__password-policy {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: 1.5rem 0 2.5rem;
    padding: 0.7rem;
    background-color: #3284cb;
    color: #fff;
    border: 1px solid #3284cb;
    line-height: 1.75;
    font-size: 0.9em;
    text-align: left;
    white-space: normal;
}
.top-header {
    width: 100%;
    padding: 1rem 0;
    display: flex;
    justify-content: center;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
    position: relative;
    text-align: center;
}
.top-header .logo img {
    height: 3.5rem;
}
@media (min-width: 430px) {
    .top-header .logo img {
        height: 4.25rem;
    }
}
@media (min-width: 768px) {
    .top-header .logo img {
        height: 5.25rem;
    }
}
.bottom-footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #fff;
    text-align: center;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
    padding: 1.5rem 0;
}
.bottom-footer a {
    font-size: 1rem;
    margin: 2rem;
    text-decoration: inherit;
    letter-spacing: 0;
    color: #333;
}
.facebook-error {
    background-color: #fff;
    max-width: 32rem;
    min-height: 16rem;
    margin: 0 auto;
    padding: 1.5rem;
}
@media screen and (min-width: 429px) {
    .facebook-error {
        padding: 2.75rem 3rem;
    }
}
.facebook-error h1 {
    margin: 0 0 0.625rem;
}
.facebook-error--centered div,
.facebook-error--centered h1,
.facebook-error--centered img,
.facebook-error--centered span {
    margin: 0 auto;
    display: block;
}
.facebook-error--centered h1,
.facebook-error--centered span {
    margin-top: 1.5rem;
    text-align: center;
}
.facebook-error__cta {
    margin-top: 1.5rem;
    width: 100%;
}
.forgot-password-success {
    background-color: #fff;
    max-width: 32rem;
    min-height: 16rem;
    margin: 0 auto;
    padding: 1.5rem;
}
@media screen and (min-width: 429px) {
    .forgot-password-success {
        padding: 2.75rem 3rem;
    }
}
.forgot-password-success h1 {
    margin: 0 0 0.625rem;
}
.forgot-password-success__subline {
    margin: 1.5rem 0 0;
}
.forgot-password-success__cta {
    margin-top: 1.5rem;
    width: 100%;
}
.set-password-success {
    background-color: #fff;
    max-width: 32rem;
    min-height: 16rem;
    margin: 0 auto;
    padding: 1.5rem;
}
@media screen and (min-width: 429px) {
    .set-password-success {
        padding: 2.75rem 3rem;
    }
}
.set-password-success h1 {
    margin: 0 0 0.625rem;
}
.set-password-success--centered h1,
.set-password-success--centered img,
.set-password-success--centered span {
    margin: 0 auto;
    display: block;
}
.set-password-success--centered h1,
.set-password-success--centered span {
    margin-top: 1.5rem;
    text-align: center;
}
.set-password-success__cta {
    margin-top: 1.5rem;
    width: 100%;
}
.register-customer-success {
    background-color: #fff;
    max-width: 32rem;
    min-height: 16rem;
    margin: 0 auto;
    padding: 1.5rem;
}
@media screen and (min-width: 429px) {
    .register-customer-success {
        padding: 2.75rem 3rem;
    }
}
.register-customer-success h1 {
    margin: 0 0 0.625rem;
}
.register-customer-success--centered h1,
.register-customer-success--centered img,
.register-customer-success--centered span {
    margin: 0 auto;
    display: block;
}
.register-customer-success--centered h1,
.register-customer-success--centered span {
    margin-top: 1.5rem;
    text-align: center;
}
.register-customer-success__cta {
    margin-top: 1.5rem;
    width: 100%;
}
@font-face {
    font-family: Roboto;
    src: url('~assets/fonts/Roboto/Roboto_regular.woff2') format('woff2'),
        url('~assets/fonts/Roboto/Roboto_regular.woff') format('woff'),
        url('~assets/fonts/Roboto/Roboto_regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: Roboto;
    src: url('~assets/fonts/Roboto/Roboto_bold.woff2') format('woff2'), url('~assets/fonts/Roboto/Roboto_bold.woff') format('woff'),
        url('~assets/fonts/Roboto/Roboto_bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: Montserrat;
    src: url('~assets/fonts/Montserrat/Montserrat_SPRD_medium.woff2') format('woff2'),
        url('~assets/fonts/Montserrat/Montserrat_SPRD_medium.woff') format('woff'),
        url('~assets/fonts/Montserrat/Montserrat_SPRD_medium.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: Espresso Roast Caps;
    src: url('~assets/fonts/Espresso/RoastCaps/EspressoRoast-Caps.eot');
    src: url('~assets/fonts/Espresso/RoastCaps/EspressoRoast-Caps.eot') format('embedded-opentype'),
        url('~assets/fonts/Espresso/RoastCaps/EspressoRoast-Caps.woff2') format('woff2'),
        url('~assets/fonts/Espresso/RoastCaps/EspressoRoast-Caps.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: mobilemarketplace;
    src: url('~assets/fonts/mm/mm.eot');
    src: url('~assets/fonts/mm/mm.eot') format('embedded-opentype'), url('~assets/fonts/mm/mm.woff') format('woff'),
        url('~assets/fonts/mm/mm.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: block;
}
.logout {
    background-color: #fff;
    max-width: 32rem;
    min-height: 16rem;
    margin: 0 auto;
    padding: 1.5rem;
}
@media screen and (min-width: 429px) {
    .logout {
        padding: 2.75rem 3rem;
    }
}
.logout h1 {
    margin: 0 0 0.625rem;
}
.logout__cta {
    width: 100%;
}
.logout__error {
    color: #de4065;
    font-size: 0.875rem;
    font-weight: 700;
    margin-top: 0.5rem;
    padding: 0 0.75rem;
}
.logout-minimal__cta,
.logout logout-minimal {
    width: 100%;
}
html {
    line-height: 1.5;
    -webkit-text-size-adjust: 100%;
    box-sizing: border-box;
}
*,
:after,
:before {
    box-sizing: inherit;
}
body,
html {
    height: 100%;
}
body {
    margin: 0;
    background-color: #fff;
}
.hidden {
    display: none;
}
.uib-position-measure {
    display: block !important;
    visibility: hidden !important;
    position: absolute !important;
    top: -9999px !important;
    left: -9999px !important;
}

.uib-position-scrollbar-measure {
    position: absolute !important;
    top: -9999px !important;
    width: 50px !important;
    height: 50px !important;
    overflow: scroll !important;
}

.uib-position-body-scrollbar-measure {
    overflow: scroll !important;
}
[uib-tooltip-popup].tooltip.top-left > .tooltip-arrow,
[uib-tooltip-popup].tooltip.top-right > .tooltip-arrow,
[uib-tooltip-popup].tooltip.bottom-left > .tooltip-arrow,
[uib-tooltip-popup].tooltip.bottom-right > .tooltip-arrow,
[uib-tooltip-popup].tooltip.left-top > .tooltip-arrow,
[uib-tooltip-popup].tooltip.left-bottom > .tooltip-arrow,
[uib-tooltip-popup].tooltip.right-top > .tooltip-arrow,
[uib-tooltip-popup].tooltip.right-bottom > .tooltip-arrow,
[uib-tooltip-html-popup].tooltip.top-left > .tooltip-arrow,
[uib-tooltip-html-popup].tooltip.top-right > .tooltip-arrow,
[uib-tooltip-html-popup].tooltip.bottom-left > .tooltip-arrow,
[uib-tooltip-html-popup].tooltip.bottom-right > .tooltip-arrow,
[uib-tooltip-html-popup].tooltip.left-top > .tooltip-arrow,
[uib-tooltip-html-popup].tooltip.left-bottom > .tooltip-arrow,
[uib-tooltip-html-popup].tooltip.right-top > .tooltip-arrow,
[uib-tooltip-html-popup].tooltip.right-bottom > .tooltip-arrow,
[uib-tooltip-template-popup].tooltip.top-left > .tooltip-arrow,
[uib-tooltip-template-popup].tooltip.top-right > .tooltip-arrow,
[uib-tooltip-template-popup].tooltip.bottom-left > .tooltip-arrow,
[uib-tooltip-template-popup].tooltip.bottom-right > .tooltip-arrow,
[uib-tooltip-template-popup].tooltip.left-top > .tooltip-arrow,
[uib-tooltip-template-popup].tooltip.left-bottom > .tooltip-arrow,
[uib-tooltip-template-popup].tooltip.right-top > .tooltip-arrow,
[uib-tooltip-template-popup].tooltip.right-bottom > .tooltip-arrow,
[uib-popover-popup].popover.top-left > .arrow,
[uib-popover-popup].popover.top-right > .arrow,
[uib-popover-popup].popover.bottom-left > .arrow,
[uib-popover-popup].popover.bottom-right > .arrow,
[uib-popover-popup].popover.left-top > .arrow,
[uib-popover-popup].popover.left-bottom > .arrow,
[uib-popover-popup].popover.right-top > .arrow,
[uib-popover-popup].popover.right-bottom > .arrow,
[uib-popover-html-popup].popover.top-left > .arrow,
[uib-popover-html-popup].popover.top-right > .arrow,
[uib-popover-html-popup].popover.bottom-left > .arrow,
[uib-popover-html-popup].popover.bottom-right > .arrow,
[uib-popover-html-popup].popover.left-top > .arrow,
[uib-popover-html-popup].popover.left-bottom > .arrow,
[uib-popover-html-popup].popover.right-top > .arrow,
[uib-popover-html-popup].popover.right-bottom > .arrow,
[uib-popover-template-popup].popover.top-left > .arrow,
[uib-popover-template-popup].popover.top-right > .arrow,
[uib-popover-template-popup].popover.bottom-left > .arrow,
[uib-popover-template-popup].popover.bottom-right > .arrow,
[uib-popover-template-popup].popover.left-top > .arrow,
[uib-popover-template-popup].popover.left-bottom > .arrow,
[uib-popover-template-popup].popover.right-top > .arrow,
[uib-popover-template-popup].popover.right-bottom > .arrow {
    top: auto;
    bottom: auto;
    left: auto;
    right: auto;
    margin: 0;
}

[uib-popover-popup].popover,
[uib-popover-html-popup].popover,
[uib-popover-template-popup].popover {
    display: block !important;
}

/*!
* angular-loading-bar v0.9.0
* https://chieffancypants.github.io/angular-loading-bar
* Copyright (c) 2016 Wes Cruver
* License: MIT
*/
#loading-bar,
#loading-bar-spinner {
    pointer-events: none;
    -webkit-pointer-events: none;
    -webkit-transition: all 0.35s linear;
    -moz-transition: 0.35s linear all;
    -o-transition: 0.35s linear all;
    transition: all 0.35s linear;
}
#loading-bar-spinner.ng-enter,
#loading-bar-spinner.ng-leave.ng-leave-active,
#loading-bar.ng-enter,
#loading-bar.ng-leave.ng-leave-active {
    opacity: 0;
}
#loading-bar-spinner.ng-enter.ng-enter-active,
#loading-bar-spinner.ng-leave,
#loading-bar.ng-enter.ng-enter-active,
#loading-bar.ng-leave {
    opacity: 1;
}
#loading-bar .bar {
    -webkit-transition: width 0.35s;
    -moz-transition: width 0.35s;
    -o-transition: width 0.35s;
    transition: width 0.35s;
    background: #29d;
    position: fixed;
    z-index: 10002;
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    border-bottom-right-radius: 1px;
    border-top-right-radius: 1px;
}
#loading-bar .peg {
    position: absolute;
    width: 70px;
    right: 0;
    top: 0;
    height: 2px;
    opacity: 0.45;
    -moz-box-shadow: #29d 1px 0 6px 1px;
    -ms-box-shadow: #29d 1px 0 6px 1px;
    -webkit-box-shadow: #29d 1px 0 6px 1px;
    box-shadow: 1px 0 6px 1px #29d;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    border-radius: 100%;
}
#loading-bar-spinner {
    display: block;
    position: fixed;
    z-index: 10002;
    top: 10px;
    left: 10px;
}
#loading-bar-spinner .spinner-icon {
    width: 14px;
    height: 14px;
    border: 2px solid transparent;
    border-top-color: #29d;
    border-left-color: #29d;
    border-radius: 50%;
    -webkit-animation: loading-bar-spinner 0.4s linear infinite;
    -moz-animation: loading-bar-spinner 0.4s linear infinite;
    -ms-animation: loading-bar-spinner 0.4s linear infinite;
    -o-animation: loading-bar-spinner 0.4s linear infinite;
    animation: loading-bar-spinner 0.4s linear infinite;
}
@-webkit-keyframes loading-bar-spinner {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(1turn);
        transform: rotate(1turn);
    }
}
@-moz-keyframes loading-bar-spinner {
    0% {
        -moz-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -moz-transform: rotate(1turn);
        transform: rotate(1turn);
    }
}
@-o-keyframes loading-bar-spinner {
    0% {
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -o-transform: rotate(1turn);
        transform: rotate(1turn);
    }
}
@-ms-keyframes loading-bar-spinner {
    0% {
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -ms-transform: rotate(1turn);
        transform: rotate(1turn);
    }
}
@keyframes loading-bar-spinner {
    0% {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(1turn);
    }
}
.ct-label {
    fill: rgba(0, 0, 0, 0.4);
    color: rgba(0, 0, 0, 0.4);
    font-size: 0.75rem;
    line-height: 1;
}
.ct-chart-bar .ct-label,
.ct-chart-line .ct-label {
    display: block;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}
.ct-chart-donut .ct-label,
.ct-chart-pie .ct-label {
    dominant-baseline: central;
}
.ct-label.ct-horizontal.ct-start {
    -webkit-box-align: flex-end;
    -webkit-align-items: flex-end;
    -ms-flex-align: flex-end;
    align-items: flex-end;
}
.ct-label.ct-horizontal.ct-end,
.ct-label.ct-horizontal.ct-start {
    -webkit-box-pack: flex-start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: flex-start;
    justify-content: flex-start;
    text-align: left;
    text-anchor: start;
}
.ct-label.ct-horizontal.ct-end {
    -webkit-box-align: flex-start;
    -webkit-align-items: flex-start;
    -ms-flex-align: flex-start;
    align-items: flex-start;
}
.ct-label.ct-vertical.ct-start {
    -webkit-box-align: flex-end;
    -webkit-align-items: flex-end;
    -ms-flex-align: flex-end;
    align-items: flex-end;
    -webkit-box-pack: flex-end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: flex-end;
    justify-content: flex-end;
    text-align: right;
    text-anchor: end;
}
.ct-label.ct-vertical.ct-end {
    -webkit-box-pack: flex-start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: flex-start;
    justify-content: flex-start;
    text-align: left;
}
.ct-chart-bar .ct-label.ct-horizontal.ct-start,
.ct-label.ct-vertical.ct-end {
    -webkit-box-align: flex-end;
    -webkit-align-items: flex-end;
    -ms-flex-align: flex-end;
    align-items: flex-end;
    text-anchor: start;
}
.ct-chart-bar .ct-label.ct-horizontal.ct-end,
.ct-chart-bar .ct-label.ct-horizontal.ct-start {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
}
.ct-chart-bar .ct-label.ct-horizontal.ct-end {
    -webkit-box-align: flex-start;
    -webkit-align-items: flex-start;
    -ms-flex-align: flex-start;
    align-items: flex-start;
    text-anchor: start;
}
.ct-chart-bar.ct-horizontal-bars .ct-label.ct-horizontal.ct-start {
    -webkit-box-align: flex-end;
    -webkit-align-items: flex-end;
    -ms-flex-align: flex-end;
    align-items: flex-end;
}
.ct-chart-bar.ct-horizontal-bars .ct-label.ct-horizontal.ct-end,
.ct-chart-bar.ct-horizontal-bars .ct-label.ct-horizontal.ct-start {
    -webkit-box-pack: flex-start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: flex-start;
    justify-content: flex-start;
    text-align: left;
    text-anchor: start;
}
.ct-chart-bar.ct-horizontal-bars .ct-label.ct-horizontal.ct-end {
    -webkit-box-align: flex-start;
    -webkit-align-items: flex-start;
    -ms-flex-align: flex-start;
    align-items: flex-start;
}
.ct-chart-bar.ct-horizontal-bars .ct-label.ct-vertical.ct-start {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: flex-end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: flex-end;
    justify-content: flex-end;
    text-align: right;
    text-anchor: end;
}
.ct-chart-bar.ct-horizontal-bars .ct-label.ct-vertical.ct-end {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: flex-start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: flex-start;
    justify-content: flex-start;
    text-align: left;
    text-anchor: end;
}
.ct-grid {
    stroke: rgba(0, 0, 0, 0.2);
    stroke-width: 1px;
    stroke-dasharray: 2px;
}
.ct-grid-background {
    fill: none;
}
.ct-point {
    stroke-width: 10px;
    stroke-linecap: round;
}
.ct-line {
    fill: none;
    stroke-width: 4px;
}
.ct-area {
    stroke: none;
    fill-opacity: 0.1;
}
.ct-bar {
    fill: none;
    stroke-width: 10px;
}
.ct-slice-donut {
    fill: none;
    stroke-width: 60px;
}
.ct-series-a .ct-bar,
.ct-series-a .ct-line,
.ct-series-a .ct-point,
.ct-series-a .ct-slice-donut {
    stroke: #d70206;
}
.ct-series-a .ct-area,
.ct-series-a .ct-slice-donut-solid,
.ct-series-a .ct-slice-pie {
    fill: #d70206;
}
.ct-series-b .ct-bar,
.ct-series-b .ct-line,
.ct-series-b .ct-point,
.ct-series-b .ct-slice-donut {
    stroke: #f05b4f;
}
.ct-series-b .ct-area,
.ct-series-b .ct-slice-donut-solid,
.ct-series-b .ct-slice-pie {
    fill: #f05b4f;
}
.ct-series-c .ct-bar,
.ct-series-c .ct-line,
.ct-series-c .ct-point,
.ct-series-c .ct-slice-donut {
    stroke: #f4c63d;
}
.ct-series-c .ct-area,
.ct-series-c .ct-slice-donut-solid,
.ct-series-c .ct-slice-pie {
    fill: #f4c63d;
}
.ct-series-d .ct-bar,
.ct-series-d .ct-line,
.ct-series-d .ct-point,
.ct-series-d .ct-slice-donut {
    stroke: #d17905;
}
.ct-series-d .ct-area,
.ct-series-d .ct-slice-donut-solid,
.ct-series-d .ct-slice-pie {
    fill: #d17905;
}
.ct-series-e .ct-bar,
.ct-series-e .ct-line,
.ct-series-e .ct-point,
.ct-series-e .ct-slice-donut {
    stroke: #453d3f;
}
.ct-series-e .ct-area,
.ct-series-e .ct-slice-donut-solid,
.ct-series-e .ct-slice-pie {
    fill: #453d3f;
}
.ct-series-f .ct-bar,
.ct-series-f .ct-line,
.ct-series-f .ct-point,
.ct-series-f .ct-slice-donut {
    stroke: #59922b;
}
.ct-series-f .ct-area,
.ct-series-f .ct-slice-donut-solid,
.ct-series-f .ct-slice-pie {
    fill: #59922b;
}
.ct-series-g .ct-bar,
.ct-series-g .ct-line,
.ct-series-g .ct-point,
.ct-series-g .ct-slice-donut {
    stroke: #0544d3;
}
.ct-series-g .ct-area,
.ct-series-g .ct-slice-donut-solid,
.ct-series-g .ct-slice-pie {
    fill: #0544d3;
}
.ct-series-h .ct-bar,
.ct-series-h .ct-line,
.ct-series-h .ct-point,
.ct-series-h .ct-slice-donut {
    stroke: #6b0392;
}
.ct-series-h .ct-area,
.ct-series-h .ct-slice-donut-solid,
.ct-series-h .ct-slice-pie {
    fill: #6b0392;
}
.ct-series-i .ct-bar,
.ct-series-i .ct-line,
.ct-series-i .ct-point,
.ct-series-i .ct-slice-donut {
    stroke: #f05b4f;
}
.ct-series-i .ct-area,
.ct-series-i .ct-slice-donut-solid,
.ct-series-i .ct-slice-pie {
    fill: #f05b4f;
}
.ct-series-j .ct-bar,
.ct-series-j .ct-line,
.ct-series-j .ct-point,
.ct-series-j .ct-slice-donut {
    stroke: #dda458;
}
.ct-series-j .ct-area,
.ct-series-j .ct-slice-donut-solid,
.ct-series-j .ct-slice-pie {
    fill: #dda458;
}
.ct-series-k .ct-bar,
.ct-series-k .ct-line,
.ct-series-k .ct-point,
.ct-series-k .ct-slice-donut {
    stroke: #eacf7d;
}
.ct-series-k .ct-area,
.ct-series-k .ct-slice-donut-solid,
.ct-series-k .ct-slice-pie {
    fill: #eacf7d;
}
.ct-series-l .ct-bar,
.ct-series-l .ct-line,
.ct-series-l .ct-point,
.ct-series-l .ct-slice-donut {
    stroke: #86797d;
}
.ct-series-l .ct-area,
.ct-series-l .ct-slice-donut-solid,
.ct-series-l .ct-slice-pie {
    fill: #86797d;
}
.ct-series-m .ct-bar,
.ct-series-m .ct-line,
.ct-series-m .ct-point,
.ct-series-m .ct-slice-donut {
    stroke: #b2c326;
}
.ct-series-m .ct-area,
.ct-series-m .ct-slice-donut-solid,
.ct-series-m .ct-slice-pie {
    fill: #b2c326;
}
.ct-series-n .ct-bar,
.ct-series-n .ct-line,
.ct-series-n .ct-point,
.ct-series-n .ct-slice-donut {
    stroke: #6188e2;
}
.ct-series-n .ct-area,
.ct-series-n .ct-slice-donut-solid,
.ct-series-n .ct-slice-pie {
    fill: #6188e2;
}
.ct-series-o .ct-bar,
.ct-series-o .ct-line,
.ct-series-o .ct-point,
.ct-series-o .ct-slice-donut {
    stroke: #a748ca;
}
.ct-series-o .ct-area,
.ct-series-o .ct-slice-donut-solid,
.ct-series-o .ct-slice-pie {
    fill: #a748ca;
}
.ct-square {
    display: block;
    position: relative;
    width: 100%;
}
.ct-square:before {
    display: block;
    float: left;
    content: '';
    width: 0;
    height: 0;
    padding-bottom: 100%;
}
.ct-square:after {
    content: '';
    display: table;
    clear: both;
}
.ct-square > svg {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
}
.ct-minor-second {
    display: block;
    position: relative;
    width: 100%;
}
.ct-minor-second:before {
    display: block;
    float: left;
    content: '';
    width: 0;
    height: 0;
    padding-bottom: 93.75%;
}
.ct-minor-second:after {
    content: '';
    display: table;
    clear: both;
}
.ct-minor-second > svg {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
}
.ct-major-second {
    display: block;
    position: relative;
    width: 100%;
}
.ct-major-second:before {
    display: block;
    float: left;
    content: '';
    width: 0;
    height: 0;
    padding-bottom: 88.8888888889%;
}
.ct-major-second:after {
    content: '';
    display: table;
    clear: both;
}
.ct-major-second > svg {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
}
.ct-minor-third {
    display: block;
    position: relative;
    width: 100%;
}
.ct-minor-third:before {
    display: block;
    float: left;
    content: '';
    width: 0;
    height: 0;
    padding-bottom: 83.3333333333%;
}
.ct-minor-third:after {
    content: '';
    display: table;
    clear: both;
}
.ct-minor-third > svg {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
}
.ct-major-third {
    display: block;
    position: relative;
    width: 100%;
}
.ct-major-third:before {
    display: block;
    float: left;
    content: '';
    width: 0;
    height: 0;
    padding-bottom: 80%;
}
.ct-major-third:after {
    content: '';
    display: table;
    clear: both;
}
.ct-major-third > svg {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
}
.ct-perfect-fourth {
    display: block;
    position: relative;
    width: 100%;
}
.ct-perfect-fourth:before {
    display: block;
    float: left;
    content: '';
    width: 0;
    height: 0;
    padding-bottom: 75%;
}
.ct-perfect-fourth:after {
    content: '';
    display: table;
    clear: both;
}
.ct-perfect-fourth > svg {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
}
.ct-perfect-fifth {
    display: block;
    position: relative;
    width: 100%;
}
.ct-perfect-fifth:before {
    display: block;
    float: left;
    content: '';
    width: 0;
    height: 0;
    padding-bottom: 66.6666666667%;
}
.ct-perfect-fifth:after {
    content: '';
    display: table;
    clear: both;
}
.ct-perfect-fifth > svg {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
}
.ct-minor-sixth {
    display: block;
    position: relative;
    width: 100%;
}
.ct-minor-sixth:before {
    display: block;
    float: left;
    content: '';
    width: 0;
    height: 0;
    padding-bottom: 62.5%;
}
.ct-minor-sixth:after {
    content: '';
    display: table;
    clear: both;
}
.ct-minor-sixth > svg {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
}
.ct-golden-section {
    display: block;
    position: relative;
    width: 100%;
}
.ct-golden-section:before {
    display: block;
    float: left;
    content: '';
    width: 0;
    height: 0;
    padding-bottom: 61.804697157%;
}
.ct-golden-section:after {
    content: '';
    display: table;
    clear: both;
}
.ct-golden-section > svg {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
}
.ct-major-sixth {
    display: block;
    position: relative;
    width: 100%;
}
.ct-major-sixth:before {
    display: block;
    float: left;
    content: '';
    width: 0;
    height: 0;
    padding-bottom: 60%;
}
.ct-major-sixth:after {
    content: '';
    display: table;
    clear: both;
}
.ct-major-sixth > svg {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
}
.ct-minor-seventh {
    display: block;
    position: relative;
    width: 100%;
}
.ct-minor-seventh:before {
    display: block;
    float: left;
    content: '';
    width: 0;
    height: 0;
    padding-bottom: 56.25%;
}
.ct-minor-seventh:after {
    content: '';
    display: table;
    clear: both;
}
.ct-minor-seventh > svg {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
}
.ct-major-seventh {
    display: block;
    position: relative;
    width: 100%;
}
.ct-major-seventh:before {
    display: block;
    float: left;
    content: '';
    width: 0;
    height: 0;
    padding-bottom: 53.3333333333%;
}
.ct-major-seventh:after {
    content: '';
    display: table;
    clear: both;
}
.ct-major-seventh > svg {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
}
.ct-octave {
    display: block;
    position: relative;
    width: 100%;
}
.ct-octave:before {
    display: block;
    float: left;
    content: '';
    width: 0;
    height: 0;
    padding-bottom: 50%;
}
.ct-octave:after {
    content: '';
    display: table;
    clear: both;
}
.ct-octave > svg {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
}
.ct-major-tenth {
    display: block;
    position: relative;
    width: 100%;
}
.ct-major-tenth:before {
    display: block;
    float: left;
    content: '';
    width: 0;
    height: 0;
    padding-bottom: 40%;
}
.ct-major-tenth:after {
    content: '';
    display: table;
    clear: both;
}
.ct-major-tenth > svg {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
}
.ct-major-eleventh {
    display: block;
    position: relative;
    width: 100%;
}
.ct-major-eleventh:before {
    display: block;
    float: left;
    content: '';
    width: 0;
    height: 0;
    padding-bottom: 37.5%;
}
.ct-major-eleventh:after {
    content: '';
    display: table;
    clear: both;
}
.ct-major-eleventh > svg {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
}
.ct-major-twelfth {
    display: block;
    position: relative;
    width: 100%;
}
.ct-major-twelfth:before {
    display: block;
    float: left;
    content: '';
    width: 0;
    height: 0;
    padding-bottom: 33.3333333333%;
}
.ct-major-twelfth:after {
    content: '';
    display: table;
    clear: both;
}
.ct-major-twelfth > svg {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
}
.ct-double-octave {
    display: block;
    position: relative;
    width: 100%;
}
.ct-double-octave:before {
    display: block;
    float: left;
    content: '';
    width: 0;
    height: 0;
    padding-bottom: 25%;
}
.ct-double-octave:after {
    content: '';
    display: table;
    clear: both;
}
.ct-double-octave > svg {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
}
.chartist-tooltip {
    position: absolute;
    display: inline-block;
    opacity: 0;
    min-width: 5em;
    padding: 0.5em;
    background: #f4c63d;
    color: #453d3f;
    font-family: Oxygen, Helvetica, Arial, sans-serif;
    font-weight: 700;
    text-align: center;
    pointer-events: none;
    z-index: 1;
    -webkit-transition: opacity 0.2s linear;
    -moz-transition: opacity 0.2s linear;
    -o-transition: opacity 0.2s linear;
    transition: opacity 0.2s linear;
}
.chartist-tooltip:before {
    content: '';
    position: absolute;
    top: 100%;
    left: 50%;
    width: 0;
    height: 0;
    margin-left: -15px;
    border: 15px solid transparent;
    border-top-color: #f4c63d;
}
.chartist-tooltip.tooltip-show {
    opacity: 1;
}
.ct-area,
.ct-line {
    pointer-events: none;
}
/*!
* smartbanner.js v1.14.6 <https://github.com/ain/smartbanner.js>
* Copyright Â© 2019 Ain Tohvri, contributors. Licensed under GPL-3.0.
*/
.smartbanner {
    position: absolute;
    top: 0;
    left: 0;
    overflow-x: hidden;
    width: 100%;
    height: 84px;
    background: #f3f3f3;
    font-family: Helvetica, sans, sans-serif;
}
.smartbanner__exit {
    position: absolute;
    top: calc(50% - 6px);
    left: 9px;
    display: block;
    margin: 0;
    width: 12px;
    height: 12px;
    border: 0;
    text-align: center;
}
.smartbanner__exit:after,
.smartbanner__exit:before {
    position: absolute;
    width: 1px;
    height: 12px;
    background: #767676;
    content: ' ';
}
.smartbanner__exit:before {
    transform: rotate(45deg);
}
.smartbanner__exit:after {
    transform: rotate(-45deg);
}
.smartbanner__icon {
    left: 30px;
    width: 64px;
    border-radius: 15px;
    background-size: 64px 64px;
}
.smartbanner__icon,
.smartbanner__info {
    position: absolute;
    top: 10px;
    height: 64px;
}
.smartbanner__info {
    left: 104px;
    display: flex;
    overflow-y: hidden;
    width: 60%;
    align-items: center;
    color: #000;
}
.smartbanner__info__title {
    font-size: 14px;
}
.smartbanner__info__author,
.smartbanner__info__price {
    font-size: 12px;
}
.smartbanner__button {
    position: absolute;
    top: 32px;
    right: 10px;
    z-index: 1;
    display: block;
    padding: 0 10px;
    min-width: 10%;
    border-radius: 5px;
    background: #f3f3f3;
    color: #1474fc;
    font-size: 18px;
    text-align: center;
    text-decoration: none;
}
.smartbanner__button__label {
    text-align: center;
}
.smartbanner.smartbanner--android {
    background: #3d3d3d
        url('data:image/gif;base64,R0lGODlhCAAIAIABAFVVVf///yH5BAEHAAEALAAAAAAIAAgAAAINRG4XudroGJBRsYcxKAA7');
    box-shadow: inset 0 4px 0 #88b131;
}
.smartbanner.smartbanner--android .smartbanner__exit {
    left: 6px;
    margin-right: 7px;
    width: 17px;
    height: 17px;
    border-radius: 14px;
    background: #1c1e21;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.8), 0 1px 1px hsla(0, 0%, 100%, 0.3);
    color: #b1b1b3;
    font-family: ArialRoundedMTBold, Arial;
    font-size: 20px;
    line-height: 17px;
    text-shadow: 0 1px 1px #000;
}
.smartbanner.smartbanner--android .smartbanner__exit:after,
.smartbanner.smartbanner--android .smartbanner__exit:before {
    top: 3px;
    left: 8px;
    width: 2px;
    height: 11px;
    background: #b1b1b3;
}
.smartbanner.smartbanner--android .smartbanner__exit:active,
.smartbanner.smartbanner--android .smartbanner__exit:hover {
    color: #eee;
}
.smartbanner.smartbanner--android .smartbanner__icon {
    background-color: transparent;
    box-shadow: none;
}
.smartbanner.smartbanner--android .smartbanner__info {
    color: #ccc;
    text-shadow: 0 1px 2px #000;
}
.smartbanner.smartbanner--android .smartbanner__info__title {
    color: #fff;
    font-weight: 700;
}
.smartbanner.smartbanner--android .smartbanner__button {
    top: 30px;
    right: 20px;
    padding: 0;
    min-width: 12%;
    border-radius: 0;
    background: none;
    box-shadow: 0 0 0 1px #333, 0 0 0 2px #dddcdc;
    color: #d1d1d1;
    font-size: 14px;
    font-weight: 700;
}
.smartbanner.smartbanner--android .smartbanner__button:active,
.smartbanner.smartbanner--android .smartbanner__button:hover {
    background: none;
}
.smartbanner.smartbanner--android .smartbanner__button__label {
    display: block;
    padding: 0 10px;
    background: #42b6c9;
    background: linear-gradient(180deg, #42b6c9, #39a9bb);
    box-shadow: none;
    line-height: 24px;
    text-align: center;
    text-shadow: none;
    text-transform: none;
}
.smartbanner.smartbanner--android .smartbanner__button__label:active,
.smartbanner.smartbanner--android .smartbanner__button__label:hover {
    background: #2ac7e1;
}
/*!
* Cropper.js v1.4.3
* https://fengyuanchen.github.io/cropperjs
*
* Copyright 2015-present Chen Fengyuan
* Released under the MIT license
*
* Date: 2018-10-24T13:07:11.429Z
*/

.cropper-container {
    direction: ltr;
    font-size: 0;
    line-height: 0;
    position: relative;
    -ms-touch-action: none;
    touch-action: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.cropper-container img {
    display: block;
    height: 100%;
    image-orientation: 0deg;
    max-height: none !important;
    max-width: none !important;
    min-height: 0 !important;
    min-width: 0 !important;
    width: 100%;
}

.cropper-wrap-box,
.cropper-canvas,
.cropper-drag-box,
.cropper-crop-box,
.cropper-modal {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}

.cropper-wrap-box,
.cropper-canvas {
    overflow: hidden;
}

.cropper-drag-box {
    background-color: #fff;
    opacity: 0;
}

.cropper-modal {
    background-color: #000;
    opacity: 0.5;
}

.cropper-view-box {
    display: block;
    height: 100%;
    outline-color: rgba(51, 153, 255, 0.75);
    outline: 1px solid #39f;
    overflow: hidden;
    width: 100%;
}

.cropper-dashed {
    border: 0 dashed #eee;
    display: block;
    opacity: 0.5;
    position: absolute;
}

.cropper-dashed.dashed-h {
    border-bottom-width: 1px;
    border-top-width: 1px;
    height: calc(100% / 3);
    left: 0;
    top: calc(100% / 3);
    width: 100%;
}

.cropper-dashed.dashed-v {
    border-left-width: 1px;
    border-right-width: 1px;
    height: 100%;
    left: calc(100% / 3);
    top: 0;
    width: calc(100% / 3);
}

.cropper-center {
    display: block;
    height: 0;
    left: 50%;
    opacity: 0.75;
    position: absolute;
    top: 50%;
    width: 0;
}

.cropper-center:before,
.cropper-center:after {
    background-color: #eee;
    content: ' ';
    display: block;
    position: absolute;
}

.cropper-center:before {
    height: 1px;
    left: -3px;
    top: 0;
    width: 7px;
}

.cropper-center:after {
    height: 7px;
    left: 0;
    top: -3px;
    width: 1px;
}

.cropper-face,
.cropper-line,
.cropper-point {
    display: block;
    height: 100%;
    opacity: 0.1;
    position: absolute;
    width: 100%;
}

.cropper-face {
    background-color: #fff;
    left: 0;
    top: 0;
}

.cropper-line {
    background-color: #39f;
}

.cropper-line.line-e {
    cursor: ew-resize;
    right: -3px;
    top: 0;
    width: 5px;
}

.cropper-line.line-n {
    cursor: ns-resize;
    height: 5px;
    left: 0;
    top: -3px;
}

.cropper-line.line-w {
    cursor: ew-resize;
    left: -3px;
    top: 0;
    width: 5px;
}

.cropper-line.line-s {
    bottom: -3px;
    cursor: ns-resize;
    height: 5px;
    left: 0;
}

.cropper-point {
    background-color: #39f;
    height: 5px;
    opacity: 0.75;
    width: 5px;
}

.cropper-point.point-e {
    cursor: ew-resize;
    margin-top: -3px;
    right: -3px;
    top: 50%;
}

.cropper-point.point-n {
    cursor: ns-resize;
    left: 50%;
    margin-left: -3px;
    top: -3px;
}

.cropper-point.point-w {
    cursor: ew-resize;
    left: -3px;
    margin-top: -3px;
    top: 50%;
}

.cropper-point.point-s {
    bottom: -3px;
    cursor: s-resize;
    left: 50%;
    margin-left: -3px;
}

.cropper-point.point-ne {
    cursor: nesw-resize;
    right: -3px;
    top: -3px;
}

.cropper-point.point-nw {
    cursor: nwse-resize;
    left: -3px;
    top: -3px;
}

.cropper-point.point-sw {
    bottom: -3px;
    cursor: nesw-resize;
    left: -3px;
}

.cropper-point.point-se {
    bottom: -3px;
    cursor: nwse-resize;
    height: 20px;
    opacity: 1;
    right: -3px;
    width: 20px;
}

@media (min-width: 768px) {
    .cropper-point.point-se {
        height: 15px;
        width: 15px;
    }
}

@media (min-width: 992px) {
    .cropper-point.point-se {
        height: 10px;
        width: 10px;
    }
}

@media (min-width: 1200px) {
    .cropper-point.point-se {
        height: 5px;
        opacity: 0.75;
        width: 5px;
    }
}

.cropper-point.point-se:before {
    background-color: #39f;
    bottom: -50%;
    content: ' ';
    display: block;
    height: 200%;
    opacity: 0;
    position: absolute;
    right: -50%;
    width: 200%;
}

.cropper-invisible {
    opacity: 0;
}

.cropper-bg {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQAQMAAAAlPW0iAAAAA3NCSVQICAjb4U/gAAAABlBMVEXMzMz////TjRV2AAAACXBIWXMAAArrAAAK6wGCiw1aAAAAHHRFWHRTb2Z0d2FyZQBBZG9iZSBGaXJld29ya3MgQ1M26LyyjAAAABFJREFUCJlj+M/AgBVhF/0PAH6/D/HkDxOGAAAAAElFTkSuQmCC');
}

.cropper-hide {
    display: block;
    height: 0;
    position: absolute;
    width: 0;
}

.cropper-hidden {
    display: none !important;
}

.cropper-move {
    cursor: move;
}

.cropper-crop {
    cursor: crosshair;
}

.cropper-disabled .cropper-drag-box,
.cropper-disabled .cropper-face,
.cropper-disabled .cropper-line,
.cropper-disabled .cropper-point {
    cursor: not-allowed;
}
.register-container {
    margin: 32px 0 0;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
}
.central-auth {
    width: 100%;
    margin: 0 auto;
    padding: 0 12px;
    max-width: 560px;
}
.central-auth #central-auth-iframe-wrapper {
    border-radius: 8px;
    overflow: hidden;
}
.central-auth .disclaimer[data-v-ebac3454] {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.central-auth .disclaimer .legal-links {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: center;
    justify-content: center;
}
