.css-e87cl3 {
    padding-left: 12px;
    padding-right: 12px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 1600px;
}

@media screen and (min-width: 768px) {
    .css-e87cl3 {
        width: 94%;
    }
}

@media screen and (min-width: 1024px) {
    .css-e87cl3 {
        width: 88%;
    }
}

@media screen and (min-width: 1280px) {
    .css-e87cl3 {
        width: 80%;
    }
}

.css-10f6cge {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-top: 16px;
    padding-bottom: 16px;
    font-size: 0.875rem;
    color: #666;
}

.css-1unrqcp {
    color: inherit;
    -webkit-text-decoration: none;
    text-decoration: none;
}

.css-6xwt68 {
    width: 0.625rem;
    height: 0.625rem;
    margin-left: 6px;
    margin-right: 6px;
}

.css-t6j1z3 {
    color: inherit;
    -webkit-text-decoration: none;
    text-decoration: none;
    font-weight: 700;
    pointer-events: none;
}

.css-m7xnyq {
    display: none;
}

@media screen and (min-width: 768px) {
    .css-m7xnyq {
        display: block;
    }
}

.css-l8sws8 {
    margin-top: 0;
    margin-bottom: 0.5em;
    color: #333333;
    font-weight: 700;
    line-height: 1.3;
    margin-bottom: 1.25em;
    font-family: Montserrat, sans-serif;
    font-size: 1.5rem;
    color: inherit;
    text-align: left;
}

@media screen and (min-width: 768px) {
    .css-l8sws8 {
        font-size: 1.75rem;
    }
}

.css-1dbhkgm {
    margin-left: 0;
    margin-right: 0;
    display: block;
}

@media screen and (min-width: 480px) {
    .css-1dbhkgm {
        margin-left: 0;
        margin-right: 0;
    }
}

@media screen and (min-width: 768px) {
    .css-1dbhkgm {
        margin-left: -16px;
        margin-right: -16px;
    }
}

@media screen and (min-width: 768px) {
    .css-1dbhkgm {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
    }
}

.css-152tcew {
    padding-left: 0;
    padding-right: 0;
    -webkit-flex: 0 0 25%;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
}

@media screen and (min-width: 768px) {
    .css-152tcew {
        padding-left: 16px;
        padding-right: 16px;
    }
}

.css-1agsezw {
    display: block;
    margin-bottom: 16px;
}

@media screen and (min-width: 768px) {
    .css-1agsezw {
        display: none;
    }
}

.css-a9k0jb {
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: 2.5em;
    padding: 0 1em;
    font-weight: 700;
    -webkit-text-decoration: none;
    text-decoration: none;
    background: none;
    border: 2px solid;
    border-color: transparent;
    border-radius: 2px;
    background-color: transparent;
    color: #009e94;
    border-color: #009e94;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
}

.css-a9k0jb:disabled {
    cursor: not-allowed;
}

.css-a9k0jb:hover {
    color: #00b2a5;
    border-color: #00b2a5;
}

.css-a9k0jb:active {
    color: #0d877e;
    border-color: #0d877e;
}

.css-a9k0jb:disabled {
    color: #cbf0ed;
    border-color: #cbf0ed;
}

.css-e9xurp {
    margin-right: 0.5rem;
}

.css-1mm0243 {
    display: none;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #ffffff;
    z-index: 10;
}

@media screen and (min-width: 768px) {
    .css-1mm0243 {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        position: static;
        margin-top: -0.75rem;
    }
}

.css-14ftddo {
    -webkit-flex: none;
    -ms-flex: none;
    flex: none;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding-top: 8px;
    padding-bottom: 8px;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: relative;
    font-weight: 700;
    background-color: #e5e5e5;
}

@media screen and (min-width: 768px) {
    .css-14ftddo {
        display: none;
    }
}

.css-1gwvi1g {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 4rem;
}

.css-x5r8aa {
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding-left: 16px;
    padding-right: 16px;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}

@media screen and (min-width: 768px) {
    .css-x5r8aa {
        padding-left: 0;
        padding-right: 0;
        overflow-y: visible;
    }
}

.css-1puswmt {
    border-bottom: 1px solid;
    border-color: #e5e5e5;
}

.css-1c5ccuf {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 100%;
    padding-left: 0;
    padding-right: 0;
    padding-top: 12px;
    padding-bottom: 12px;
    font-weight: bold;
    text-align: left;
}

.css-1c5ccuf:hover,
.css-1c5ccuf:focus {
    color: #00b2a5;
    outline: none;
}

.css-1pdkwl8 {
    width: 2rem;
    height: 2rem;
}

.css-1b9hbm2 {
    overflow: hidden;
    -webkit-transition: height 0.4s ease-in-out;
    transition: height 0.4s ease-in-out;
}

.css-1p56jcs {
    overflow: hidden;
    padding-bottom: 16px;
}

.css-9b72fr {
    margin-top: -8px;
    margin-bottom: -8px;
}

.css-79elbk {
    position: relative;
}

.css-k008qs {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.css-1ezyz3h {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    display: block;
    padding-top: 6px;
    padding-bottom: 6px;
    color: inherit;
    -webkit-text-decoration: none;
    text-decoration: none;
    color: #00b2a5;
}

.css-1ezyz3h:hover {
    color: #00b2a5;
}

.css-in12nd {
    margin-left: 1rem;
    padding-left: 0.625rem;
    padding-right: 0.625rem;
}

.css-14kvnmt {
    display: block;
    width: 0.75rem;
    height: 0.75rem;
    -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.25, 1, 0.5, 1);
    -webkit-transition: transform 0.5s cubic-bezier(0.25, 1, 0.5, 1);
    transition: transform 0.5s cubic-bezier(0.25, 1, 0.5, 1);
    -webkit-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    transform: rotate(-180deg);
}

.css-d0uhtl {
    margin-left: 16px;
}

.css-1vj5a4y {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    display: block;
    padding-top: 6px;
    padding-bottom: 6px;
    color: inherit;
    -webkit-text-decoration: none;
    text-decoration: none;
    font-weight: 700;
    color: #00b2a5;
}

.css-1vj5a4y:hover {
    color: #00b2a5;
}

.css-1o3wzt {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    display: block;
    padding-top: 6px;
    padding-bottom: 6px;
    color: inherit;
    -webkit-text-decoration: none;
    text-decoration: none;
}

.css-1o3wzt:hover {
    color: #00b2a5;
}

.css-xgehuo {
    display: block;
    width: 0.75rem;
    height: 0.75rem;
    -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.25, 1, 0.5, 1);
    -webkit-transition: transform 0.5s cubic-bezier(0.25, 1, 0.5, 1);
    transition: transform 0.5s cubic-bezier(0.25, 1, 0.5, 1);
}

.css-q2tdmq {
    color: inherit;
    display: block;
    -webkit-text-decoration: none;
    text-decoration: none;
    padding-top: 8px;
    padding-bottom: 8px;
}

.css-q2tdmq:hover {
    color: #00b2a5;
}

.css-1r2wys6 {
    color: inherit;
    display: block;
    -webkit-text-decoration: none;
    text-decoration: none;
    padding-top: 8px;
    padding-bottom: 8px;
    color: #00b2a5;
    pointer-events: none;
}

.css-1r2wys6:hover {
    color: #00b2a5;
}

.css-s1rp3y {
    margin: -4px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.css-2rlxtj {
    padding: 4px;
}

.css-9yncsc {
    display: block;
    min-width: 2.875em;
    margin: 1px;
    padding: 12px;
    color: #000000;
    line-height: 1.25;
    text-align: center;
    -webkit-text-decoration: none;
    text-decoration: none;
    border: 1px solid;
    border-color: #e5e5e5;
    border-radius: 0.25rem;
}

.css-9yncsc:hover {
    color: #00b2a5;
    border-color: currentColor;
}

.css-15xsy7u {
    display: block;
    height: 0;
    visibility: hidden;
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    pointer-events: none;
    font-weight: 700;
}

.css-5g9kdy {
    display: block;
    min-width: 2.875em;
    margin: 1px;
    padding: 12px;
    color: #000000;
    line-height: 1.25;
    text-align: center;
    -webkit-text-decoration: none;
    text-decoration: none;
    border: 1px solid;
    border-color: #e5e5e5;
    border-radius: 0.25rem;
    color: #cccccc;
    border-color: currentColor;
    pointer-events: none;
}

.css-5g9kdy:hover {
    color: #00b2a5;
    border-color: currentColor;
}

.css-1o3848f {
    padding: 2px;
}

.css-iw3d6o {
    display: block;
    padding: 2px;
    color: inherit;
    -webkit-text-decoration: none;
    text-decoration: none;
    border-radius: 50%;
    outline: none;
}

.css-iw3d6o:hover,
.css-iw3d6o:focus {
    box-shadow: 0 0 0 1px #00b2a5;
}

.css-rlrvpp {
    display: block;
    width: 42px;
    height: 42px;
    color: inherit;
    background: #ffffff;
    background-clip: content-box;
    border: 1px solid;
    border-color: #cccccc;
    border-radius: 50%;
}

.css-wggai3 {
    display: block;
    width: 42px;
    height: 42px;
    color: #ffffff;
    background: #999999;
    background-clip: content-box;
    border: 1px solid;
    border-color: transparent;
    border-radius: 50%;
}

.css-skjrhk {
    display: block;
    width: 42px;
    height: 42px;
    color: #ffffff;
    background: #000000;
    background-clip: content-box;
    border: 1px solid;
    border-color: transparent;
    border-radius: 50%;
}

.css-1revri2 {
    display: block;
    width: 42px;
    height: 42px;
    color: #ffffff;
    background: #89539b;
    background-clip: content-box;
    border: 1px solid;
    border-color: transparent;
    border-radius: 50%;
}

.css-yom1v5 {
    display: block;
    width: 42px;
    height: 42px;
    color: #ffffff;
    background: #1f40ad;
    background-clip: content-box;
    border: 1px solid;
    border-color: transparent;
    border-radius: 50%;
}

.css-18201a3 {
    display: block;
    width: 42px;
    height: 42px;
    color: #ffffff;
    background: #00ac00;
    background-clip: content-box;
    border: 1px solid;
    border-color: transparent;
    border-radius: 50%;
}

.css-q6xmfi {
    display: block;
    width: 42px;
    height: 42px;
    color: inherit;
    background: #ffff00;
    background-clip: content-box;
    border: 1px solid;
    border-color: transparent;
    border-radius: 50%;
}

.css-dlvpod {
    display: block;
    width: 42px;
    height: 42px;
    color: #ffffff;
    background: #ff8822;
    background-clip: content-box;
    border: 1px solid;
    border-color: transparent;
    border-radius: 50%;
}

.css-718w4j {
    display: block;
    width: 42px;
    height: 42px;
    color: #ffffff;
    background: #ce312d;
    background-clip: content-box;
    border: 1px solid;
    border-color: transparent;
    border-radius: 50%;
}

.css-1iz7hhw {
    display: block;
    width: 42px;
    height: 42px;
    color: #ffffff;
    background: #ff98a9;
    background-clip: content-box;
    border: 1px solid;
    border-color: transparent;
    border-radius: 50%;
}

.css-q3b0ue {
    display: block;
    padding-top: 16px;
    padding-bottom: 16px;
}

@media screen and (min-width: 768px) {
    .css-q3b0ue {
        display: none;
    }
}

.css-708qat {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 6px;
    padding-bottom: 6px;
    color: #737373;
    font-size: 0.875rem;
    line-height: 1.3;
    -webkit-text-decoration: none;
    text-decoration: none;
    border: 1px solid;
    border-color: #737373;
    border-radius: 0.25rem;
    color: #ffffff;
    background-color: #737373;
}

.css-708qat:hover {
    color: #000000;
    border-color: #000000;
}

.css-708qat:hover {
    color: #ffffff;
    background-color: #333333;
}

.css-op46v {
    width: 0.75rem;
    height: 0.75rem;
    margin-left: 8px;
}

.css-1t1q81a {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 6px;
    padding-bottom: 6px;
    color: #737373;
    font-size: 0.875rem;
    line-height: 1.3;
    -webkit-text-decoration: none;
    text-decoration: none;
    border: 1px solid;
    border-color: #737373;
    border-radius: 0.25rem;
}

.css-1t1q81a:hover {
    color: #000000;
    border-color: #000000;
}

.css-1fodp0m {
    -webkit-flex: none;
    -ms-flex: none;
    flex: none;
    display: block;
    padding: 16px;
    background-color: #f2f2f2;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

@media screen and (min-width: 768px) {
    .css-1fodp0m {
        display: none;
    }
}

.css-pnnvkq {
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: 2.5em;
    padding: 0 1em;
    font-weight: 700;
    -webkit-text-decoration: none;
    text-decoration: none;
    background: none;
    border: 2px solid;
    border-color: transparent;
    border-radius: 2px;
    background-color: #009e94;
    color: #ffffff;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
}

.css-pnnvkq:disabled {
    cursor: not-allowed;
}

.css-pnnvkq:hover,
.css-pnnvkq:focus {
    color: #ffffff;
    background-color: #00b2a5;
}

.css-pnnvkq:active {
    background-color: #0d877e;
}

.css-pnnvkq:disabled {
    background-color: #cbf0ed;
}

.css-ryj074 {
    padding-left: 0;
    padding-right: 0;
    -webkit-flex: 0 0 75%;
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
}

@media screen and (min-width: 768px) {
    .css-ryj074 {
        padding-left: 16px;
        padding-right: 16px;
    }
}

.css-1ebnygn {
    padding-bottom: 16px;
}
@media screen and (max-width: 768px) {
    .css-1ebnygn {
        padding: 1.5rem;
    }
}

.css-1bvc4cc {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

.css-i1z5a2 {
    margin: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.css-qnl12t {
    padding: none;
}

.css-4t9wa4 {
    line-height: 1.5;
    font-size: 0.875rem;
    color: inherit;
}

.css-1t2iw6e {
    color: inherit;
    -webkit-text-decoration: none;
    text-decoration: none;
    font-weight: 700;
    -webkit-text-decoration: underline;
    text-decoration: underline;
}

.css-1p5oyn2 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    background-color: #cbf0ed;
    text-align: left;
}

.css-1ondvoo {
    -webkit-flex: none;
    -ms-flex: none;
    flex: none;
    width: 1.625rem;
    height: 1.625rem;
    margin-right: 0.5rem;
}

.css-1081t4c {
    -webkit-text-decoration: underline;
    text-decoration: underline;
}

.css-1q0ef7f {
    margin-left: -7px;
    margin-right: -7px;
    padding-bottom: 80px;
    position: relative;
}

.css-efgamt {
    margin-right: -3px;
    margin: -3px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.css-12ahr2y {
    padding: 3px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    max-width: 100%;
    -webkit-flex: 0 0 100%;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
}

@media screen and (min-width: 480px) {
    .css-12ahr2y {
        max-width: 50%;
    }
}

@media screen and (min-width: 768px) {
    .css-12ahr2y {
        max-width: 50%;
    }
}

@media screen and (min-width: 1024px) {
    .css-12ahr2y {
        max-width: 33.33333333333333%;
    }
}

@media screen and (min-width: 480px) {
    .css-12ahr2y {
        -webkit-flex: 0 0 50%;
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
    }
}

@media screen and (min-width: 768px) {
    .css-12ahr2y {
        -webkit-flex: 0 0 50%;
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
    }
}

@media screen and (min-width: 1024px) {
    .css-12ahr2y {
        -webkit-flex: 0 0 33.33333333333333%;
        -ms-flex: 0 0 33.33333333333333%;
        flex: 0 0 33.33333333333333%;
    }
}

.css-8aokqf {
    -webkit-align-self: flex-start;
    -ms-flex-item-align: start;
    align-self: flex-start;
    display: block;
    width: 100%;
    padding: 6px;
    color: #00b2a5;
    border: 1px solid;
    border-color: transparent;
    -webkit-text-decoration: none;
    text-decoration: none;
}

.css-8aokqf:hover,
.css-8aokqf:focus {
    border-color: #d9d9d9;
}

.css-8aokqf:hover .e9pdhc3,
.css-8aokqf:focus .e9pdhc3 {
    color: #009e94;
}

.css-1h8lljs {
    display: block;
    height: auto;
    padding-bottom: 0;
}

@media screen and (min-width: 480px) {
    .css-1h8lljs {
        height: 0;
        padding-bottom: 100%;
    }
}

.css-o6j91o {
    display: block;
    -webkit-transition: opacity 0.2s ease-in-out;
    transition: opacity 0.2s ease-in-out;
    -webkit-transform: translateZ(0);
    max-width: 100%;
    height: auto;
    opacity: 0;
    -webkit-transition: unset;
    transition: unset;
}

.css-187c1un {
    color: #333333;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 15%;
    right: 15%;
}

@media screen and (min-width: 480px) {
    .css-187c1un {
        left: 20%;
        right: 20%;
    }
}

.css-1j10p30 {
    padding-bottom: 4px;
}

@media screen and (min-width: 480px) {
    .css-1j10p30 {
        padding-bottom: 16px;
    }
}

.css-133rjc7 {
    margin-top: 0;
    margin-bottom: 0.5em;
    color: #333333;
    font-weight: 700;
    line-height: 1.3;
    font-family: Montserrat, sans-serif;
    font-size: 1rem;
    color: inherit;
    text-align: center;
}

@media screen and (min-width: 768px) {
    .css-133rjc7 {
        font-size: 1.125rem;
    }
}

.css-1l4w6pd {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.css-1nmziqc {
    display: block;
    padding: 0.5rem 1rem;
    font-size: 0.875rem;
    font-weight: 700;
    color: #ffffff;
    background-color: #bc473f;
    text-align: center;
    border-radius: 2px;
}

.css-1nmziqc:hover {
    background-color: #89140c;
}

.css-17mjrw7 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    width: 100%;
    padding: 6px;
    border: 1px solid transparent;
}

@media screen and (min-width: 480px) {
    .css-17mjrw7 {
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
    }
}

.css-17mjrw7:hover {
    border-color: #d9d9d9;
}

.css-17mjrw7:hover .e12z4h062 {
    opacity: 1;
}

.css-17mjrw7:hover .e12z4h065 {
    overflow: visible;
}

.css-17mjrw7:hover .e12z4h067 {
    display: none;
}

.css-17mjrw7:focus-within {
    border-color: #d9d9d9;
}

.css-17mjrw7:focus-within .e12z4h062 {
    opacity: 1;
}

.css-17mjrw7:focus-within .e12z4h065 {
    overflow: visible;
}

.css-17mjrw7:focus-within .e12z4h067 {
    display: none;
}

.css-1ipf0s3 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-flex: 0 0 calc(40% - 0.75rem);
    -ms-flex: 0 0 calc(40% - 0.75rem);
    flex: 0 0 calc(40% - 0.75rem);
    margin-right: 0.75rem;
    background-color: #f2f2f2;
}

@media screen and (min-width: 480px) {
    .css-1ipf0s3 {
        -webkit-flex: 0 0 auto;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        margin-right: 0;
    }
}

.css-23gpdb {
    display: block;
    -webkit-transition: opacity 0.2s ease-in-out;
    transition: opacity 0.2s ease-in-out;
    -webkit-transform: translateZ(0);
    max-width: 100%;
    height: auto;
}

.css-hq1ctj {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex: 0 0 60%;
    -ms-flex: 0 0 60%;
    flex: 0 0 60%;
}

@media screen and (min-width: 480px) {
    .css-hq1ctj {
        -webkit-flex: 1 0 auto;
        -ms-flex: 1 0 auto;
        flex: 1 0 auto;
    }
}

.css-1dnvzty {
    padding-top: 4px;
    position: relative;
}

.css-ntvznv {
    line-height: 1.5;
    font-size: 0.75rem;
    color: inherit;
}

.css-dxvynx {
    position: static;
    right: 0;
    bottom: 100%;
    left: 0;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    text-align: left;
    background-color: transparent;
    opacity: 1;
    -webkit-transition: opacity 0.2s ease-out;
    transition: opacity 0.2s ease-out;
}

@media screen and (min-width: 1024px) {
    .css-dxvynx {
        position: absolute;
        padding-top: 4px;
        padding-bottom: 8px;
        padding-left: 12px;
        padding-right: 12px;
        text-align: center;
        background-color: rgba(255, 255, 255, 0.7);
        opacity: 0;
    }
}

.css-1bmx4ck {
    display: inline;
}

@media screen and (min-width: 1024px) {
    .css-1bmx4ck {
        display: none;
    }
}

.css-1i5uka2 {
    display: none;
    padding-top: 4px;
}

@media screen and (min-width: 1024px) {
    .css-1i5uka2 {
        display: block;
    }
}

.css-ozubnb {
    margin: -4px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.css-myxywx {
    display: block;
    width: 42px;
    height: 42px;
    color: inherit;
    background: #f7c6c8;
    background-clip: content-box;
    border: 1px solid;
    border-color: transparent;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    border-color: #999999;
}

.css-1p4nw23 {
    display: block;
    width: 42px;
    height: 42px;
    color: inherit;
    background: no-repeat url('/img/566,width=32.png') center / cover;
    background-clip: content-box;
    border: 1px solid;
    border-color: transparent;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    border-color: #999999;
}

.css-1chvsc {
    display: block;
    width: 42px;
    height: 42px;
    color: inherit;
    background: no-repeat url('/img/645,width=32.png') center / cover;
    background-clip: content-box;
    border: 1px solid;
    border-color: transparent;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    border-color: #999999;
}

.css-adxhjv {
    display: block;
    width: 42px;
    height: 42px;
    color: inherit;
    background: no-repeat url('/img/648,width=32.png') center / cover;
    background-clip: content-box;
    border: 1px solid;
    border-color: transparent;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    border-color: #999999;
}

.css-13ejuqn {
    display: block;
    width: 42px;
    height: 42px;
    color: #ffffff;
    background: #c97889;
    background-clip: content-box;
    border: 1px solid;
    border-color: transparent;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    border-color: #999999;
}

.css-1is3mmw {
    display: block;
    width: 42px;
    height: 42px;
    color: inherit;
    background: #ffffff;
    background-clip: content-box;
    border: 1px solid;
    border-color: #cccccc;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    border-color: #999999;
}

.css-1i1ir2f {
    display: block;
    width: 42px;
    height: 42px;
    color: #ffffff;
    background: #000000;
    background-clip: content-box;
    border: 1px solid;
    border-color: transparent;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    border-color: #999999;
}

.css-npjy4u {
    display: block;
    width: 42px;
    height: 42px;
    color: #ffffff;
    background: #c20329;
    background-clip: content-box;
    border: 1px solid;
    border-color: transparent;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    border-color: #999999;
}

.css-hkhfp1 {
    display: block;
    width: 42px;
    height: 42px;
    color: #ffffff;
    background: #353d56;
    background-clip: content-box;
    border: 1px solid;
    border-color: transparent;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    border-color: #999999;
}

.css-1jiji7z {
    display: block;
    width: 42px;
    height: 42px;
    color: #ffffff;
    background: #1e9658;
    background-clip: content-box;
    border: 1px solid;
    border-color: transparent;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    border-color: #999999;
}

.css-1w893xe {
    display: block;
    width: 42px;
    height: 42px;
    color: inherit;
    background: #f6bc1a;
    background-clip: content-box;
    border: 1px solid;
    border-color: transparent;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    border-color: #999999;
}

.css-15kvtcw {
    display: block;
    width: 42px;
    height: 42px;
    color: inherit;
    background: no-repeat url('/img/231,width=32.png') center / cover;
    background-clip: content-box;
    border: 1px solid;
    border-color: transparent;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    border-color: #999999;
}

.css-15oxfod {
    display: block;
    width: 42px;
    height: 42px;
    color: #ffffff;
    background: #3a3d87;
    background-clip: content-box;
    border: 1px solid;
    border-color: transparent;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    border-color: #999999;
}

.css-sr63rn {
    display: block;
    width: 42px;
    height: 42px;
    color: #ffffff;
    background: #643170;
    background-clip: content-box;
    border: 1px solid;
    border-color: transparent;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    border-color: #999999;
}

.css-1r4l5g1 {
    display: block;
    width: 42px;
    height: 42px;
    color: #ffffff;
    background: #007e80;
    background-clip: content-box;
    border: 1px solid;
    border-color: transparent;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    border-color: #999999;
}

.css-1lnkhyd {
    display: block;
    width: 42px;
    height: 42px;
    color: #ffffff;
    background: #da0057;
    background-clip: content-box;
    border: 1px solid;
    border-color: transparent;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    border-color: #999999;
}

.css-8xl60i {
    margin-top: auto;
}

.css-70qvj9 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.css-ohwg9z {
    position: relative;
    overflow: hidden;
}

.css-1ny2wnk {
    position: static;
    top: 0;
    right: -7px;
    left: -7px;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
    background-color: transparent;
    border-style: solid;
    border-width: 0;
    border-top: 0;
    border-color: transparent;
    z-index: 1;
}

@media screen and (min-width: 1024px) {
    .css-1ny2wnk {
        position: absolute;
        padding-left: 6px;
        padding-right: 6px;
        padding-bottom: 6px;
        background-color: #ffffff;
        border-width: 1px;
        border-color: #d9d9d9;
    }
}

.css-1rztl7a {
    padding-top: 2px;
    padding-bottom: 4px;
}

@media screen and (min-width: 480px) {
    .css-1rztl7a {
        padding-top: 8px;
    }
}

.css-1yuqoyg {
    color: #00b2a5;
    -webkit-text-decoration: none;
    text-decoration: none;
}

.css-1yuqoyg:hover,
.css-1yuqoyg:focus {
    color: #009e94;
}

.css-18biwo {
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.css-rzr0o5 {
    line-height: 1.5;
    font-weight: 700;
    font-size: 0.75rem;
    color: inherit;
}

.css-dk6qqt {
    display: block;
    width: 42px;
    height: 42px;
    color: #ffffff;
    background: #1f904a;
    background-clip: content-box;
    border: 1px solid;
    border-color: transparent;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    border-color: #999999;
}

.css-1fp755r {
    display: block;
    width: 42px;
    height: 42px;
    color: inherit;
    background: #f8c700;
    background-clip: content-box;
    border: 1px solid;
    border-color: transparent;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    border-color: #999999;
}

.css-1u2rqwg {
    display: block;
    width: 42px;
    height: 42px;
    color: #ffffff;
    background: #c30125;
    background-clip: content-box;
    border: 1px solid;
    border-color: transparent;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    border-color: #999999;
}

.css-2ie149 {
    display: block;
    width: 42px;
    height: 42px;
    color: #ffffff;
    background: #3068b4;
    background-clip: content-box;
    border: 1px solid;
    border-color: transparent;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    border-color: #999999;
}

.css-b0qdn7 {
    padding-bottom: 4px;
}

.css-56x1o8 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 16px;
    position: relative;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center;
    background-color: #333333;
}

@media screen and (min-width: 480px) {
    .css-56x1o8 {
        position: absolute;
    }
}

.css-xfu5fo {
    line-height: 1.5;
    font-weight: 700;
    font-size: 1.125rem;
    color: #ffffff;
}

.css-86fej6 {
    line-height: 1.5;
    font-size: 0.875rem;
    color: #ffffff;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
}

.css-33m3j5 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 5rem;
    height: 5rem;
    position: absolute;
    top: 15%;
    left: 5%;
    text-align: center;
    background-color: #a82840;
    border-radius: 50%;
}

.css-18uzktn {
    line-height: 1.5;
    font-size: 0.875rem;
    color: #ffffff;
}

.css-5o7or0 {
    line-height: 1.1;
    font-weight: 700;
    font-size: 0.875rem;
    color: #ffffff;
}

.css-10sdox1 {
    display: none;
    padding-top: 0.375rem;
    padding-bottom: 0.125rem;
    font-size: 0.875rem;
    font-weight: 700;
}

@media screen and (min-width: 480px) {
    .css-10sdox1 {
        display: block;
    }
}

.css-fhx2r6 {
    display: block;
    width: 42px;
    height: 42px;
    color: inherit;
    background: no-repeat url('/img/557,width=32.png') center / cover;
    background-clip: content-box;
    border: 1px solid;
    border-color: transparent;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    border-color: #999999;
}

.css-48ucst {
    display: block;
    width: 42px;
    height: 42px;
    color: inherit;
    background: no-repeat url('/img/611,width=32.png') center / cover;
    background-clip: content-box;
    border: 1px solid;
    border-color: transparent;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    border-color: #999999;
}

.css-1xjcp6h {
    display: block;
    width: 42px;
    height: 42px;
    color: inherit;
    background: no-repeat url('/img/712,width=32.png') center / cover;
    background-clip: content-box;
    border: 1px solid;
    border-color: transparent;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    border-color: #999999;
}

.css-jazxfb {
    display: block;
    width: 42px;
    height: 42px;
    color: inherit;
    background: #e2ba2e;
    background-clip: content-box;
    border: 1px solid;
    border-color: transparent;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    border-color: #999999;
}

.css-1tbj1op {
    display: block;
    width: 42px;
    height: 42px;
    color: inherit;
    background: no-repeat url('/img/228,width=32.png') center / cover;
    background-clip: content-box;
    border: 1px solid;
    border-color: transparent;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    border-color: #999999;
}

.css-gfpkmk {
    display: block;
    width: 42px;
    height: 42px;
    color: #ffffff;
    background: #8a8d67;
    background-clip: content-box;
    border: 1px solid;
    border-color: transparent;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    border-color: #999999;
}

.css-gcaoyv {
    display: block;
    width: 42px;
    height: 42px;
    color: #ffffff;
    background: #d44848;
    background-clip: content-box;
    border: 1px solid;
    border-color: transparent;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    border-color: #999999;
}

.css-1ps2mwq {
    display: block;
    width: 42px;
    height: 42px;
    color: inherit;
    background: no-repeat url('/img/688,width=32.png') center / cover;
    background-clip: content-box;
    border: 1px solid;
    border-color: transparent;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    border-color: #999999;
}

.css-14ph207 {
    display: block;
    width: 42px;
    height: 42px;
    color: #ffffff;
    background: #563a7f;
    background-clip: content-box;
    border: 1px solid;
    border-color: transparent;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    border-color: #999999;
}

.css-13rh04n {
    display: block;
    width: 42px;
    height: 42px;
    color: #ffffff;
    background: #f51e30;
    background-clip: content-box;
    border: 1px solid;
    border-color: transparent;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    border-color: #999999;
}

.css-b28knm {
    display: block;
    width: 42px;
    height: 42px;
    color: #ffffff;
    background: #00224c;
    background-clip: content-box;
    border: 1px solid;
    border-color: transparent;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    border-color: #999999;
}

.css-ubgfuw {
    display: block;
    width: 42px;
    height: 42px;
    color: #ffffff;
    background: #48599b;
    background-clip: content-box;
    border: 1px solid;
    border-color: transparent;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    border-color: #999999;
}

.css-1mj2m56 {
    display: block;
    width: 42px;
    height: 42px;
    color: #ffffff;
    background: #f24173;
    background-clip: content-box;
    border: 1px solid;
    border-color: transparent;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    border-color: #999999;
}

.css-1y3nk49 {
    display: block;
    width: 42px;
    height: 42px;
    color: inherit;
    background: no-repeat url('/img/689,width=32.png') center / cover;
    background-clip: content-box;
    border: 1px solid;
    border-color: transparent;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    border-color: #999999;
}

.css-1h6qm8s {
    display: block;
    width: 42px;
    height: 42px;
    color: inherit;
    background: no-repeat url('/img/769,width=32.png') center / cover;
    background-clip: content-box;
    border: 1px solid;
    border-color: transparent;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    border-color: #999999;
}

.css-12qfmge {
    display: block;
    width: 42px;
    height: 42px;
    color: inherit;
    background: no-repeat url('/img/164,width=32.png') center / cover;
    background-clip: content-box;
    border: 1px solid;
    border-color: transparent;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    border-color: #999999;
}

.css-1dp0y0i {
    display: block;
    width: 42px;
    height: 42px;
    color: inherit;
    background: no-repeat url('/img/458,width=32.png') center / cover;
    background-clip: content-box;
    border: 1px solid;
    border-color: transparent;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    border-color: #999999;
}

.css-6dxk5g {
    display: block;
    width: 42px;
    height: 42px;
    color: inherit;
    background: no-repeat url('/img/251,width=32.png') center / cover;
    background-clip: content-box;
    border: 1px solid;
    border-color: transparent;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    border-color: #999999;
}

.css-1btueo7 {
    display: block;
    width: 42px;
    height: 42px;
    color: #ffffff;
    background: #353d4d;
    background-clip: content-box;
    border: 1px solid;
    border-color: transparent;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    border-color: #999999;
}

.css-hbtok9 {
    display: block;
    width: 42px;
    height: 42px;
    color: inherit;
    background: no-repeat url('/img/691,width=32.png') center / cover;
    background-clip: content-box;
    border: 1px solid;
    border-color: transparent;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    border-color: #999999;
}

.css-1btrpgy {
    display: block;
    width: 42px;
    height: 42px;
    color: #ffffff;
    background: #761f32;
    background-clip: content-box;
    border: 1px solid;
    border-color: transparent;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    border-color: #999999;
}

.css-13prfts {
    display: block;
    width: 42px;
    height: 42px;
    color: inherit;
    background: #f5bcc8;
    background-clip: content-box;
    border: 1px solid;
    border-color: transparent;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    border-color: #999999;
}

.css-96u8p0 {
    display: block;
    width: 42px;
    height: 42px;
    color: #ffffff;
    background: #750033;
    background-clip: content-box;
    border: 1px solid;
    border-color: transparent;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    border-color: #999999;
}

.css-1qnfn7 {
    display: block;
    width: 42px;
    height: 42px;
    color: #ffffff;
    background: #e53b82;
    background-clip: content-box;
    border: 1px solid;
    border-color: transparent;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    border-color: #999999;
}

.css-4tvbzq {
    display: block;
    width: 42px;
    height: 42px;
    color: #ffffff;
    background: linear-gradient(to right, #4a5ca9 0 50%, #ffffff 0 100%);
    background-clip: content-box;
    border: 1px solid;
    border-color: #cccccc;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    border-color: #999999;
}

.css-f0xdap {
    display: block;
    width: 42px;
    height: 42px;
    color: inherit;
    background: no-repeat url('/img/550,width=32.png') center / cover;
    background-clip: content-box;
    border: 1px solid;
    border-color: transparent;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    border-color: #999999;
}

.css-1c9x4ud {
    display: block;
    width: 42px;
    height: 42px;
    color: inherit;
    background: linear-gradient(to right, #ffffff 0 50%, #000000 0 100%);
    background-clip: content-box;
    border: 1px solid;
    border-color: #cccccc;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    border-color: #999999;
}

.css-1wkahsi {
    display: block;
    width: 42px;
    height: 42px;
    color: inherit;
    background: linear-gradient(to right, #ffffff 0 50%, #de3638 0 100%);
    background-clip: content-box;
    border: 1px solid;
    border-color: #cccccc;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    border-color: #999999;
}

.css-sv08wr {
    display: block;
    width: 42px;
    height: 42px;
    color: #ffffff;
    background: linear-gradient(to right, #743981 0 50%, #ffffff 0 100%);
    background-clip: content-box;
    border: 1px solid;
    border-color: #cccccc;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    border-color: #999999;
}

.css-jo8o2q {
    display: block;
    width: 42px;
    height: 42px;
    color: #ffffff;
    background: linear-gradient(to right, #000000 0 50%, #ffffff 0 100%);
    background-clip: content-box;
    border: 1px solid;
    border-color: #cccccc;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    border-color: #999999;
}

.css-fpfxx2 {
    display: block;
    width: 42px;
    height: 42px;
    color: #ffffff;
    background: #d41c28;
    background-clip: content-box;
    border: 1px solid;
    border-color: transparent;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    border-color: #999999;
}

.css-1ye98xz {
    display: block;
    width: 42px;
    height: 42px;
    color: inherit;
    background: no-repeat url('/img/495,width=32.png') center / cover;
    background-clip: content-box;
    border: 1px solid;
    border-color: transparent;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    border-color: #999999;
}

.css-l4j9as {
    display: block;
    width: 42px;
    height: 42px;
    color: inherit;
    background: no-repeat url('/img/229,width=32.png') center / cover;
    background-clip: content-box;
    border: 1px solid;
    border-color: transparent;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    border-color: #999999;
}

.css-1cmb0oy {
    display: block;
    width: 42px;
    height: 42px;
    color: inherit;
    background: #6ed64c;
    background-clip: content-box;
    border: 1px solid;
    border-color: transparent;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    border-color: #999999;
}

.css-azpt4w {
    display: block;
    width: 42px;
    height: 42px;
    color: #ffffff;
    background: #1b6fa8;
    background-clip: content-box;
    border: 1px solid;
    border-color: transparent;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    border-color: #999999;
}

.css-10ynbm0 {
    display: block;
    width: 42px;
    height: 42px;
    color: #ffffff;
    background: #505754;
    background-clip: content-box;
    border: 1px solid;
    border-color: transparent;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    border-color: #999999;
}

.css-14ys9hu {
    display: block;
    width: 42px;
    height: 42px;
    color: #ffffff;
    background: #212735;
    background-clip: content-box;
    border: 1px solid;
    border-color: transparent;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    border-color: #999999;
}

.css-1q979uc {
    display: block;
    width: 42px;
    height: 42px;
    color: #ffffff;
    background: #e24280;
    background-clip: content-box;
    border: 1px solid;
    border-color: transparent;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    border-color: #999999;
}

.css-j9v2rw {
    display: block;
    width: 42px;
    height: 42px;
    color: #ffffff;
    background: #a71d1f;
    background-clip: content-box;
    border: 1px solid;
    border-color: transparent;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    border-color: #999999;
}

.css-tyvwey {
    display: block;
    width: 42px;
    height: 42px;
    color: #ffffff;
    background: #ff534c;
    background-clip: content-box;
    border: 1px solid;
    border-color: transparent;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    border-color: #999999;
}

.css-1htqjdt {
    display: block;
    width: 42px;
    height: 42px;
    color: #ffffff;
    background: #ff5727;
    background-clip: content-box;
    border: 1px solid;
    border-color: transparent;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    border-color: #999999;
}

.css-zazni4 {
    display: block;
    width: 42px;
    height: 42px;
    color: #ffffff;
    background: #4ba8cc;
    background-clip: content-box;
    border: 1px solid;
    border-color: transparent;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    border-color: #999999;
}

.css-1dwyulc {
    display: block;
    width: 42px;
    height: 42px;
    color: inherit;
    background: #a7ed08;
    background-clip: content-box;
    border: 1px solid;
    border-color: transparent;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    border-color: #999999;
}

.css-1lswt7t {
    display: block;
    width: 42px;
    height: 42px;
    color: #ffffff;
    background: #363342;
    background-clip: content-box;
    border: 1px solid;
    border-color: transparent;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    border-color: #999999;
}

.css-1ijxh37 {
    display: block;
    width: 42px;
    height: 42px;
    color: inherit;
    background: #f3d44a;
    background-clip: content-box;
    border: 1px solid;
    border-color: transparent;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    border-color: #999999;
}

.css-1gwul8g {
    text-align: center;
}

.css-1gwul8g a {
    color: #00b2a5;
    -webkit-text-decoration: none;
    text-decoration: none;
}
